<!-- Features Section -->
    <section id="features">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Features</h2>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-cogs fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Modular Architecture</h4>
                    <p class="text-muted feature-text">Extensible cloud-native platform based on open source components</p>
                    <a href="https://scc-digitalhub.github.io/docs/architecture/" class="page-scroll btn btn-all btn-m">Read more<span class="external-arrow">&#9654</span></a>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Data Services</h4>
                    <p class="text-muted feature-text">Extensible platform for data management, exposure, and Data Mesh scenarios</p>
                    <a href="https://scc-digitalhub.github.io/docs/architecture/#data-engineering" class="page-scroll btn btn-all btn-m">Read more<span class="external-arrow">&#9654</span></a>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-bar-chart fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Machine Learning and AI</h4>
                    <p class="text-muted feature-text">Embracing the complete lifecycle of ML models, from data preparation and training to experiments-tracking and model-serving</p>
                    <a href="https://scc-digitalhub.github.io/docs/architecture/#ml-engineering" class="page-scroll btn btn-all btn-m">Read more<span class="external-arrow">&#9654</span></a>
                </div>
            </div>
        </div>
    </section>