  <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <span class="copyright">
                        &copy; {{ 'now' | date: "%Y" }}
                        <a href="https://www.smartcommunitylab.it" target="_blank">DSLab (FBK)</a>
                        and
                        <a href="https://www.deda.group" target="_blank">Dedagroup S.p.A.</a>
                    </span>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline social-buttons">
                        {% for network in site.social %}
                        <li><a href="{{ network.url }}"><i class="fa fa-{{ network.title }}"></i></a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline quicklinks">
                        <li><a href="#terms" data-toggle="modal">
                            Terms of Use
                        </a>
                        </li>
                    </ul>
                    <div class="modal fade" id="terms" tabindex="-1" role="dialog" aria-hidden="true">
                        <div class="modal-content footer-modal">
                            <div class="close-modal" data-dismiss="modal">
                                <div class="lr">
                                    <div class="rl">
                                    </div>
                                </div>
                            </div>
                            <div class="container modal-container">
                                <div class="row">
                                    <div class="col-lg-8 col-lg-offset-2">
                                        <div class="modal-body">
                                            <h2>Terms of Use</h2>
                                            <p>Digital Hub is released as open-source under Apache-2.0 license.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
