<!-- Partners Aside -->
<aside class="partners bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-6">
                <a href="https://www.fbk.eu/">
                    <img src="img/fbk.png" class="img-responsive img-centered" alt="Fondazione Bruno Kessler">
                </a>
            </div>
            <div class="col-md-6 col-sm-6">
                <a href="https://www.deda.group">
                    <img src="https://www.deda.group/flex/TemplatesUSR/assets/CORPORATE/img/loghi/logo_corporate_head.svg" class="img-responsive img-centered" width="240" alt="Dedagroup S.p.A.">
                </a>
            </div>
        </div>
    </div>
</aside>